@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* font-family: 'Comfortaa', cursive; */
* {
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
html,body,#root {
    min-width: 100%;
}
body {
    background: rgba(255, 255, 255, 0.9) url('./assets/background.jpg') no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
}
body, input, button {
    font-family: 'Comfortaa', cursive;
    font-weight: 40px;
}
::selection {
    color: white;
    background: rgb(0, 0, 0);
}
::-moz-selection{
    color: white;
    background: black;
}


.container {
    margin: 40px auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    
}
.container h1,h3 {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}
.content {
    width: 100%;
    opacity: 0.9;
    background: rgb(255, 255, 255);

}
form {
    width: 80%;
    align-content: center;
}
.content > p{
    font-size:22px;
    line-height: 30px;
    margin-bottom: 30px;
}

button.submit-btn.btn.btn-secondary {
    margin-top: 10px;
    border-radius: 30px;
    border: 0;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
    background: rgb(255, 65, 113);
}
button.submit-btn.btn.btn-secondary:hover{
    background: rgb(41, 197, 20);
}
button.submit-btn.btn.btn-secondary:active{
    background: rgb(255, 255, 255);
    color: rgb(41, 197, 20);
}
button.secondary-btn.btn.btn-secondary {
    background: transparent;
    border: 1px solid rgb(255, 65, 113);
    margin-top: 10px;
    border-radius: 30px;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 65, 113);
}
button.secondary-btn.btn.btn-secondary:hover{
    background: transparent;
    border: rgb(41, 197, 20) 1px solid;
    color:rgb(41, 197, 20);
}
button.secondary-btn.btn.btn-secondary:active{
    background: transparent;
    color:rgb(41, 197, 20);
}
button.sub-btn.btn.btn-secondary {
    border-radius: 30px;
    border: 0;
    height: 27px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
    background: rgba(240, 90, 140, 0.767);
    float: right;
    overflow: hidden;
    display: flex;
    
}
button.sub-btn.btn.btn-secondary:hover{
    background: rgb(41, 197, 20);
}
div.side-btn{
    display: flex;
    flex-direction: row-reverse;
}
button.side-btn.btn.btn-secondary {
    border-radius: 30px;
    border: 0;
    height: 30px;
    padding:2px ;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    color: rgba(240, 90, 140, 0.767);
    
}
button.side-btn.btn.btn-secondary.active{
    background:rgb(255, 255, 255)  !important;
    color: rgb(41, 197, 20);
}


button.side-btn.btn.btn-secondary:hover{
    border:  rgba(240, 90, 140, 0.767) 1px solid;
    background: transparent;
}

button.sub-btn.btn.btn-secondary.modi{
    background: #545b6296;
    color: black;
}
button.sub-btn.btn.btn-secondary.modi.upd:hover{
    background: #ffc65b;
    color: rgb(255, 255, 255);
}
button.sub-btn.btn.btn-secondary.modi.del:hover{
    background: #ff0202;
    color: rgb(255, 255, 255);
}
button.btn.btn-secondary{
    background-color: rgb(185, 185, 185) ;
    border: none;
    margin: 2px;
    padding: 2px;
}
button.btn.btn-secondary:hover{
    background-color: #545b62 ;
    border: none;
    margin: 2px;
}


input {
    margin: auto 5px;   
}

.card-header span#long-title {
    width: 50px;
    overflow: hidden;
}

.filter-btn{
    position: sticky !important;
    display:grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5px 0 2px;
}

@media (min-width: 576px){
    .container{
        max-width: 1000px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .root{
        margin: 0;
        padding: 0;
       }
    .card-header span#long-title {
           font-size: 14px;
    }
}

@media (max-width: 1000px){
    .btn-group{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .filter-btn{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
}
@media (max-width: 775px){

    .filter-btn{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
}
@media (max-width: 675px){

    .filter-btn{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}
@media (max-width:540px){

    .filter-btn{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:360px){

    .filter-btn{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.hide{
    display: none !important;
}
.popover{
    max-width: 100% !important;
}
.notifications{
    max-height: 50px;
    overflow: hidden;
    top: 50px;
    left: 50px;
    position: sticky !important;
    background-color: springgreen !important;
    z-index: 1100;
}
.noti.alert.alert-success.fade.show{
    max-height: 80px !important;
    align-items: center;
    
}
li.list-item{
    list-style: none;
    flex-direction: column;   
    text-decoration: none;   
    padding: 5px;
    margin-top: 20px;
    border: 1px solid rgb(139, 46, 134);
    border-radius: 7px ;
    align-items: center;
    align-content: center;
}
div.p-btn {
    display: grid;
    grid-template-columns: 3fr 20px 1fr;
    justify-content: space-between;
}
.col-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-btn{
    display: flex;
    justify-content: space-between;
    
}
.info{
    font-weight: 500;
    font-size: 15px;
    width: fit-content;
    height: 25px;
    padding: 3px;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius:5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    
}
.info.green{
    background-color:rgb(89, 212, 89);
}
.info.red{
    background-color:rgb(240, 128, 128);
}